/* Colors taken from the Tomorrow and base16 themes:
 * https://github.com/ChrisKempson/Tomorrow-Theme
 * https://github.com/chriskempson/base16
 */

/* @group Basic Body Structure */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	word-wrap: break-word;
}

body {
	color: #4D4D4C; /* Tomorrow: Foreground */
	height: 100%;
	z-index: 100;
	font-size: 12px;
	overflow: hidden;
	overflow-y: visible;
	background-color: #FFFFFF; /* Tomorrow: Background */
	font-family: "Lucida Grande";
}

body div#body_home {
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	z-index: 100;
	max-height: 99.99%;
	position: absolute;
	opacity: 0; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

body[viewtype=channel] div#body_home {
	max-height: 96.5%;
}

body .line {
	margin-top: -1px;
}

body[dir=rtl] .sender {
	display: inline-block;
}

/* @end */

/* @group Misc */

body div#loading_screen {
	position:absolute;
	top: 50%;
	left: 50%;
	margin-top: -11px;
	margin-left: -150px;
	width: 300px;
	height: 21px;
	font-size: 18px;
	background: #f3f3f3;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	padding: 5px;
	padding-left: 10px;
	opacity: 1; /* Set by JavaScript */
	-webkit-transition: opacity 0.8s linear;
}

.encryptionLock img {
	float: right;
	margin: 0;
	padding: 0;
	height: 11px;
	margin-top: 2px;
	padding-left: 10px;
}

/* @end */

/* @group Time */

.time {
	color: #C5C8C6; /* Tomorrow Night: Foreground */
	white-space: nowrap;
}

body[dir=rtl] .time {
	padding-left: 0.4em;
	display: inline-block;
}

/* @end */

/* @group Links */

a {
	color: #4271AE; /* Tomorrow: Blue */
	border-color: #4271AE; /* Tomorrow: Blue */
	text-decoration: none;
	border-bottom: dotted 1px;
}

a:hover {
	color: #8959A8; /* Tomorrow: Purple */
	border-color: #8959A8; /* Tomorrow: Purple */
}

/* @end */

/* @group Topic Bar */

#topic_bar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 400;
	opacity: 0; /* Set by JavaScript */
	color: #718C00; /* Tomorrow Night Blue: Green */
	position: fixed;
	padding: 2px 0.5em 3px;
	border-bottom: 1px solid #D1F1A9; /* Tomorrow Night Bright: Green */
	background-color: rgba(209, 241, 169, 0.95); /* Tomorrow Night Blue: Green 95% */
	-webkit-transition: opacity 0.8s linear;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* Topic bar hover additions contributed with permission from the project:
 * https://github.com/hbang/Simplified-Light-Modifications
 */

#topic_bar:hover {
	overflow: visible;
	white-space: normal;
}

/* @end */

/* @group Images */

a img {
	border: 0;
}

img {
	display: block;
	max-width: 95%;
	margin: 5px 1em 2px;
}

/* @end */

/* @group Separating History */

div[id=mark] {
	position: relative;
	z-index: 295;
	margin-top: -1px;
	border-bottom: 1px dashed;
	border-color: #C82829; /* Tomorrow: Red */
	-webkit-transition: 0.2s linear;
}

.historic
{
	opacity: 0.6;
}

/* @end */

/* @group NOTICE / CTCP / WALLOPS */

body div.line[ltype*=ctcp],
body div.line[ltype*=notice],
body div.line[ltype*=wallops] {
	color: #f00;
	z-index: 191;
	background: #fcc;
	position: relative;
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #f77;
	border-bottom: 1px solid #f77;
}

body div[ltype*=notice] .sender {
	color: #f00;
	font-weight: 700;
}

/* @end */

/* @group Selected User */

.sender {
	cursor: pointer;
}

body div.line[ltype*=privmsg]:not(.selectedUser),
body div.line[ltype*=action]:not(.selectedUser) {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
}

body div.line[ltype*=privmsg] .time:not(.selectedUser),
body div.line[ltype*=action] .time:not(.selectedUser) {
	transition: color 0.5s;
}

body div.line.selectedUser[highlight=false] .time {
	transition: color 0.5s ease-in;
	color: #000;
}

body div.line.selectedUser[highlight=false] {
	transition-property: border-top, border-bottom, background-color;
	transition-duration: 0.5s, 0.5s, 0.5s;
	z-index: 190;
	position: relative;
	border-top: 1px solid #FC5AF8 !important;
	border-bottom: 1px solid #FC5AF8 !important;
	background-color: rgba(246, 70, 255, 0.2) !important;
}

/* @end */

/* @group PRIVMSG */

body div.line[ltype*=privmsg][highlight=false] {
	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

body div.line[ltype*=privmsg][highlight=true],
body div.line[ltype*=action][highlight=true] {
	z-index: 191;
	position: relative;
	font-weight: normal;
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #F6E73F;
	border-bottom: 1px solid #F6E73F;
	background-color: #FAF4AF !important;
}

body div[ltype*="privmsg"] .message {
	color: #000;
}

body div[ltype*=privmsg][mtype*=myself] .message {
	color: #000;
}

body div[ltype*=privmsg] .sender {
	font-weight: 700;
	white-space: pre-wrap;
}

/* @end */

/* @group ACTION */

body div.line[ltype*=action] {
	padding: 2px 5px 2px 5px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	background-color: none;
}

body div[ltype*="action"] .message {
	color: #000;
}

body div[ltype*=action] .sender {
	font-weight: 700;
}

body div[ltype*=action][mtype*=myself] .sender,
body div[ltype*=action][mtype*=myself] .message {
	color: #B52CF6;
}

body[dir=ltr] div[ltype*=action] .sender:before {
	content: "\2022";
	margin-right: 0.4em;
}

body[dir=ltr] div[ltype*=action] .sender:after {
	content: "";
}

body[dir=rtl] div[ltype*=action] .sender:before {
	content: "\2022";
	margin-left: 0.4em;
}

body[dir=rtl] div[ltype*=action] .sender:after {
	content: "";
}

/* @end */

/* @group DEBUG / INVITE */

body div.line[ltype*=invite],
body div.line[ltype*=debug],
body div.line[ltype*=rawhtml],
body div.line[ltype*=dccfiletransfer] {
	color: #777;
	z-index: 190;
	background: #eee;
	position: relative;
	padding: 2px 5px 2px 5px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

/* @end */

/* @group Message of the Day (MOTD)
 *
 * 720, 721, 722 are used by ShadowIRCd for Oper MOTD.
 * 372, 375, 376 are normal MOTD shared by several IRCds.
 */

body div.line[command="372"],
body div.line[command="721"] {
	border: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="375"],
body div.line[command="720"] { /* Start. */
	border-bottom: none;
	padding-top: 2px;
	padding-bottom: 3px;
}

body div.line[command="376"],
body div.line[command="722"] { /* End. */
	border-top: none;
	padding-top: 3px;
	padding-bottom: 3px;
}

body div.line[command="372"] .message,
body div.line[command="375"] .message,
body div.line[command="376"] .message
body div.line[command="720"] .message,
body div.line[command="721"] .message,
body div.line[command="722"] .message {
	font-family: "Menlo" !important;
}

/* @end */

/* @group General Events */

body div.line[ltype*=join],
body div.line[ltype*=part],
body div.line[ltype*=kick],
body div.line[ltype*=quit],
body div.line[ltype*=kill],
body div.line[ltype*=nick],
body div.line[ltype*=mode],
body div.line[ltype*=topic],
body div.line[ltype*=website] {
	padding: 3px 5px 3px 5px;
	color: #aaa;
}

body[dir=ltr] div[ltype*=join] .message:before {
	content: "→";
	color: #0c0;
}

body[dir=ltr] div[ltype*=kick] .message:before,
body[dir=ltr] div[ltype*=part] .message:before,
body[dir=ltr] div[ltype*=quit] .message:before {
	content: "←";
	color: #e00;
}

body[dir=ltr] div[ltype*=nick] .message:before {
	content:"•";
	color: #0c0;
}

body[dir=rtl] div[ltype*=join] .message:before {
	content: "→";
	color: #0c0;
}

body[dir=rtl] div[ltype*=kick] .message:before,
body[dir=rtl] div[ltype*=part] .message:before,
body[dir=rtl] div[ltype*=quit] .message:before {
	content: "←";
	color: #e00;
}

body[dir=rtl] div[ltype*=nick] .message:before {
	content:"•";
	color: #0c0;
}

/* @end */

/* @group Own Messages */

.sender[mtype*=myself] {
	color: #4271AE; /* Tomorrow: Blue */
}

div[mtype*=myself] {
	background-color: rgba(187, 218, 255, 0.25); /* Tomorrow Night Blue: Blue 25% */
}

/* @end */

/* @group Nickname Colors */

.sender[mtype*=normal][colornumber='0'],
.inline_nickname[colornumber='0'] {
	color: #C82829; /* Tomorrow: Red */
}

.sender[mtype*=normal][colornumber='1'],
.inline_nickname[colornumber='1'] {
	color: #F5871F; /* Tomorrow: Orange */
}

.sender[mtype*=normal][colornumber='2'],
.inline_nickname[colornumber='2'] {
	color: #EAB700; /* Tomorrow: Yellow */
}

.sender[mtype*=normal][colornumber='3'],
.inline_nickname[colornumber='3'] {
	color: #718C00; /* Tomorrow: Green */
}

.sender[mtype*=normal][colornumber='4'],
.inline_nickname[colornumber='4'] {
	color: #3E999F; /* Tomorrow: Aqua */
}

.sender[mtype*=normal][colornumber='5'],
.inline_nickname[colornumber='5'] {
	color: #8959A8; /* Tomorrow: Purple */
}

.sender[mtype*=normal][colornumber='6'],
.inline_nickname[colornumber='6'] {
	color: #F2777A; /* Tomorrow Night Eighties: Red */
}

.sender[mtype*=normal][colornumber='7'],
.inline_nickname[colornumber='7'] {
	color: #F99157; /* Tomorrow Night Eighties: Orange */
}

.sender[mtype*=normal][colornumber='8'],
.inline_nickname[colornumber='8'] {
	color: #FFCC66; /* Tomorrow Night Eighties: Yellow */
}

.sender[mtype*=normal][colornumber='9'],
.inline_nickname[colornumber='9'] {
	color: #99CC99; /* Tomorrow Night Eighties: Green */
}

.sender[mtype*=normal][colornumber='10'],
.inline_nickname[colornumber='10'] {
	color: #66CCCC; /* Tomorrow Night Eighties: Aqua */
}

.sender[mtype*=normal][colornumber='11'],
.inline_nickname[colornumber='11'] {
	color: #CC99CC; /* Tomorrow Night Eighties: Purple */
}

.sender[mtype*=normal][colornumber='12'],
.inline_nickname[colornumber='12'] {
	color: #D54E53; /* Tomorrow Night Bright: Red */
}

.sender[mtype*=normal][colornumber='13'],
.inline_nickname[colornumber='13'] {
	color: #E78C45; /* Tomorrow Night Bright: Orange */
}

.sender[mtype*=normal][colornumber='14'],
.inline_nickname[colornumber='14'] {
	color: #E7C547; /* Tomorrow Night Bright: Yellow */
}

.sender[mtype*=normal][colornumber='15'],
.inline_nickname[colornumber='15'] {
	color: #B9CA4A; /* Tomorrow Night Bright: Green */
}

.sender[mtype*=normal][colornumber='16'],
.inline_nickname[colornumber='16'] {
	color: #70C0B1; /* Tomorrow Night Bright: Aqua */
}

.sender[mtype*=normal][colornumber='17'],
.inline_nickname[colornumber='17'] {
	color: #C397D8; /* Tomorrow Night Bright: Purple */
}

.sender[mtype*=normal][colornumber='18'],
.inline_nickname[colornumber='18'] {
	color: #AC4142; /* base16: Red */
}

.sender[mtype*=normal][colornumber='19'],
.inline_nickname[colornumber='19'] {
	color: #D28445; /* base16: Orange */
}

.sender[mtype*=normal][colornumber='20'],
.inline_nickname[colornumber='20'] {
	color: #F4Bf75; /* base16: Yellow */
}

.sender[mtype*=normal][colornumber='21'],
.inline_nickname[colornumber='21'] {
	color: #90A959; /* base16: Green */
}

.sender[mtype*=normal][colornumber='22'],
.inline_nickname[colornumber='22'] {
	color: #75B5AA; /* base16: Aqua */
}

.sender[mtype*=normal][colornumber='23'],
.inline_nickname[colornumber='23'] {
	color: #AA750F; /* base16: Purple */
}

.sender[mtype*=normal][colornumber='24'],
.inline_nickname[colornumber='24'] {
	color: #CC6666; /* Tomorrow Night: Red */
}

.sender[mtype*=normal][colornumber='25'],
.inline_nickname[colornumber='25'] {
	color: #DE935F; /* Tomorrow Night: Orange */
}

.sender[mtype*=normal][colornumber='26'],
.inline_nickname[colornumber='26'] {
	color: #F0C674; /* Tomorrow Night: Yellow */
}

.sender[mtype*=normal][colornumber='27'],
.inline_nickname[colornumber='27'] {
	color: #B5BD68; /* Tomorrow Night: Green */
}

.sender[mtype*=normal][colornumber='28'],
.inline_nickname[colornumber='28'] {
	color: #8ABEB7; /* Tomorrow Night: Aqua */
}

.sender[mtype*=normal][colornumber='29'],
.inline_nickname[colornumber='29'] {
	color: #B294BB; /* Tomorrow Night: Purple */
}

.sender[mtype*=normal][colornumber='30'],
.inline_nickname[colornumber='30'] {
	color: #BBDAFF; /* Tomorrow Night Blue: Blue */
}

/* @end */

/*
	vim: set foldmethod=marker:
	vim: set foldmarker=@group,@end:
	vim: set nofoldenable:
*/